@import url(Styles/header.css);
@import url(Styles/banner.css);
@import url(Styles/carrossel.css);
@import url(Styles/topicos.css);
@import url(Styles/contato.css);
@import url(Styles/rodape.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --corDeFundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azulDegrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fontePrincipal: "Poppins";
    --fonteSecundaria: "Josefin Sans";
    --azul: #002F52;
}

body{
    background-color: var(--corDeFundo);
    font-family: var(--fontePrincipal);
    font-size: 16px;
    font-weight: 400;
}
