.cabecalhoMenuHamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.containerIcone{
    padding: 1em;
}

.listaMenu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .listaMenu{
    display: block;
}

.listaMenuTitulo, .listaMenuItem{
    padding: 1em;
    background-color: var(--branco);
}

.listaMenuTitulo{
    color: var(--laranja);
    font-weight: 700;
}

.listaMenuLink{
background: var(--azulDegrade);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

@media screen and (min-width: 1024px){

    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonteSecundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 300;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }
}