.cabecalhoMenuHamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.containerIcone{
    padding: 1em;
}

.listaMenu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .listaMenu{
    display: block;
}

.listaMenuTitulo, .listaMenuItem{
    padding: 1em;
    background-color: var(--branco);
}

.listaMenuTitulo{
    color: var(--laranja);
    font-weight: 700;
}

.listaMenuLink{
background: var(--azulDegrade);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__titulo{
   display: none;
}

.containerTexto{
    display: none;
}

.opcoes{
    display: none;
}

#opcoesMenu{
    display:none;
}

@media screen and (min-width: 1024px){

    .cabecalhoMenuHamburguer{
        display:none;
    }

    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonteSecundaria);
        font-size: 30px;
        
    }

    .container__titulo{
        font-weight: 300;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoesItem{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoesLink{
        text-decoration: none;
        color: var(--preto);
    }

    .containerIconeFavoritos{
        display: none;
    }

    #opcoesMenu:checked ~ .listaMenu{
        display: block;
        width: auto;
    }

}

@media screen and (min-width: 1728px){
    .cabecalho{
        padding: 0 2em;
    }

    .container__titulo{
        margin-right: 1em;
    }

    .containerTexto{
        display: block;
    }

    .opcoes{
        margin-right: auto;
    }

    .containerLink{
        display: flex;
        align-items: center;
        text-decoration: none;
        color:var(--preto);
    }
}